<%- include('../header') %>

    <div class="container">
        <h3>Students Section</h3>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add a student</h5>
                        <a class="card-link" href="/app/students/add">Add a student ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search a student</h5>
                        <form action="/app/students/search" method="post">
                            <% if (errors.student_id) { %>
                                <%= errors.student_id.msg %>
                                    <% } %>
                                        <% if (errors.noData) { %>
                                            <div class="error-msg">
                                                <%= errors.noData %>
                                            </div>
                                            <% } %>
                                                <% if (errors.opsError) { %>
                                                    <%= errors.opsError %>
                                                        <% } %>
                                                            <input type="text"
                                                                class="form-control shadow-none mb-3 phText"
                                                                name="student_id"
                                                                placeholder="Enter Student ID to search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View all student details</h5>
                        <a class="card-link" href="/app/students/details">View Student Details ➝</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Export student details</h5>
                        <% if (errors.exportError) { %>
                            <div class="error-msg">
                                <%= errors.exportError %>
                            </div>
                            <% } %>
                                <a class="card-link" href="/app/students/export">Export ➝</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if (fileName) { %>
        <a href="/public/exports/<%= fileName %>" download="<%= fileName %>" id="download-link"></a>
        <% } %>

            <script>
                document.getElementById('download-link').click();
            </script>

            <%- include('../footer') %>